.image-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    background-color: rgb(255, 255, 255);
  }
  
  .image-card:hover {
    
  }
  